.loading-image {
    background: transparent url("https://raw.githubusercontent.com/doomhz/jQuery-Image-Reloader/master/loader.gif") center no-repeat;
    float: left;
    margin-bottom: 10px;
  }
  
  img {
    float: left;
  }
  
  .p-two {
    clear: both;
  }