
/*cards*/
.cardss {
    margin: 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}
.cardss .cardss-content {
    padding: 15px;
}
.cardss .cardss-footer {
    padding: 15px;
}

.cardss-outline {
    box-shadow: none;
}
.containerr {
    padding: 0 15px;
}
.cardss .cardss-header::after {
    transform: none;
}

.cardss.style-card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}
.cardss.style-card .cardss-footer i {
    font-size: 20px;
    color: #01c77f;
}

.cardss .cardss-content .date {
    margin-bottom: 10px;
    color: #888;
}

.links-listss a::after {
    transform: none;
}

.cardss-listss .cardss-content {
    padding: 0;
}

.cardss-listss-img .cardss-content .itemss-content {
    padding-left: 15px;
}
.cardss-listss-img .cardss-content .itemss-content .itemss-media img {
    width: 40px;
    height: 100%;
    border-radius: 50%;
}
.cardss-listss-img .cardss-content .itemss-content .itemss-inner .itemss-title {
    margin-bottom: 3px;
}
.cardss-listss-img .cardss-content .itemss-content .itemss-inner .itemss-subtitle {
    font-size: 13px;
}
.cardss-listss-img .cardss-content .itemss-content .itemss-inner::after {
    transform: none;
}

.cardss-expandable {
    cursor: pointer;
}
.cardss-expandable .cardss-content {
    padding: 0;
}
.cardss-expandable .cardss-content .cardss-image img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.cardss-expandable .cardss-content a {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 20px;
}
.cardss-expandable .cardss-content .cardss-content-padding p {
    font-size: 14px;
}

.cardss-expandable-title .cardss-content .cardss-image img {
    height: 230px;
}
.cardss-expandable-title .cardss-content .cardss-header {
    font-size: 20px;
    display: block;
}
.cardss-expandable-title .cardss-content .cardss-header small {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-top: 6px;
    display: block;
}
/*listss*/
.listss .itemss-inner::after {
    transform: none;
}

.listss {
    margin: 0;
}
.listss ul::before {
    display: none;
}
.listss ul li .itemss-content .itemss-media i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #01c77f;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}
.listss ul li .itemss-content .itemss-inner .itemss-title {
    font-size: 16px;
    color: #333;
}
.listss ul li .itemss-content .itemss-inner::after {
    transform: none;
}
.listss ul li:lasts-child .itemss-content .itemss-inner::after {
    background: transparent;
}
.listss ul::after {
    transform: none;
    background: transparent;
}